n8n-password-recovery-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-recovery",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eefec99c-8407-4422-a0ee-151517b5c807",
      "name": "Password Reset Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-2592, 416],
      "webhookId": "4601e64a-0067-42a7-bb97-8944a2c2096f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.email }}",
              "operator": { "type": "string", "operation": "exists" },
              "id": "8c3305e1-ecc8-460d-9bfc-7f3de0cfb444"
            },
            {
              "leftValue": "={{ $json.body.name }}",
              "operator": { "type": "string", "operation": "exists" },
              "id": "6cbf97b1-8181-4601-a6f9-66651a4f43da"
            },
            {
              "leftValue": "={{ $json.body.resetLink }}",
              "operator": { "type": "string", "operation": "exists" },
              "id": "f581562e-4f27-4174-a31d-e05b0354b832"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a539314d-d9a9-4407-a8b8-e0de31838931",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2384, 432]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Missing required fields: email, name, and resetLink are required.\" } }}",
        "options": { "responseCode": 400 }
      },
      "id": "11f2d17e-516c-4055-af2c-fa0d3037bcbb",
      "name": "Error Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-2160, 528]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, name, email FROM public.users WHERE email = '{{ $json.body.email }}' LIMIT 1",
        "options": { "queryBatching": "single" }
      },
      "id": "4305b1be-a8c0-42cd-b8de-c6e80b355810",
      "name": "Check Email in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2160, 336],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "Jk1ZfEC8mWbBZDHh", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.email }}",
              "operator": { "type": "string", "operation": "exists", "singleValue": true },
              "id": "39e256bd-a03e-4b1c-9cb1-825085cebfe5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ca519fbb-a06e-40d4-a904-39b87f4fedc8",
      "name": "Email Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1936, 336]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Email address not found in our system.\" } }}",
        "options": { "responseCode": 404 }
      },
      "id": "9b2f0edb-df49-440e-ad9d-faaae9344b5d",
      "name": "Email Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-1680, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "emailTo",
              "value": "={{ $('Validate Required Fields').item.json.body.email.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "resetUrl",
              "value": "={{ $('Validate Required Fields').item.json.body.resetLink.trim() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "username",
              "value": "={{ $('Check Email in Database').item.json.name ?? $('Validate Required Fields').item.json.body.name ?? 'User' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "htmlBody",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Password Reset — PAWS</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f0f2f5;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f2f5; padding: 40px 16px;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" width=\"580\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; max-width: 580px;\">\n          <!-- Header -->\n          <tr>\n            <td align=\"center\" bgcolor=\"#6A4C93\" style=\"padding: 44px 40px 32px;\">\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"font-size: 36px; line-height: 1;\">&#128062;</td>\n                  <td style=\"padding-left: 10px; font-size: 30px; font-weight: bold; color: #ffffff; letter-spacing: 2px; font-family: Arial, Helvetica, sans-serif;\">PAWS</td>\n                </tr>\n              </table>\n              <p style=\"margin: 10px 0 0; color: #e0d4f0; font-size: 13px; letter-spacing: 0.5px;\">Pet Health &amp; Wellness Platform</p>\n            </td>\n          </tr>\n          <!-- Body -->\n          <tr>\n            <td style=\"padding: 40px 40px 32px;\">\n              <h1 style=\"margin: 0 0 24px; color: #1a1a2e; font-size: 24px; font-weight: bold; line-height: 1.3;\">Password Reset Request</h1>\n              <p style=\"margin: 0 0 16px; color: #4a4a68; font-size: 15px; line-height: 1.7;\">Hello <strong style=\"color: #6A4C93;\">{{ $('Validate Required Fields').item.json.body.name }}</strong>,</p>\n              <p style=\"margin: 0 0 24px; color: #4a4a68; font-size: 15px; line-height: 1.7;\">We received a request to reset the password for your PAWS account. Click the button below to create a new password:</p>\n              <!-- CTA Button -->\n              <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 28px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td align=\"center\" bgcolor=\"#6A4C93\" style=\"border-radius: 8px;\">\n                          <a href=\"{{ $('Validate Required Fields').item.json.body.resetLink }}\" target=\"_blank\" style=\"display: inline-block; padding: 16px 48px; color: #ffffff; background-color: #6A4C93; text-decoration: none; font-size: 16px; font-weight: bold; border-radius: 8px; font-family: Arial, Helvetica, sans-serif;\">Reset Password</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n              <!-- Fallback Link -->\n              <p style=\"margin: 24px 0 8px; color: #8888a0; font-size: 12px;\">If the button above does not work, copy and paste this URL into your browser:</p>\n              <p style=\"margin: 0 0 24px; padding: 14px 16px; background-color: #f8f7fc; border-radius: 8px; border-left: 3px solid #6A4C93;\"><a href=\"{{ $('Validate Required Fields').item.json.body.resetLink }}\" target=\"_blank\" style=\"color: #6A4C93; font-size: 13px; word-break: break-all; text-decoration: underline;\">{{ $('Validate Required Fields').item.json.body.resetLink }}</a></p>\n              <!-- Warning -->\n              <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td bgcolor=\"#fef3f2\" style=\"padding: 16px 18px; border-left: 4px solid #f87171; border-radius: 4px;\">\n                    <p style=\"margin: 0; color: #7f1d1d; font-size: 13px; line-height: 1.6;\"><strong>Important:</strong> This link will expire in <strong>15 minutes</strong> for security reasons.</p>\n                  </td>\n                </tr>\n              </table>\n              <!-- Ignore Notice -->\n              <p style=\"margin: 24px 0 0; color: #a0a0b8; font-size: 13px; line-height: 1.6;\">If you did not request this, you can safely ignore this email. Your password will remain unchanged.</p>\n            </td>\n          </tr>\n          <!-- Footer -->\n          <tr>\n            <td bgcolor=\"#f8f7fc\" style=\"padding: 24px 40px; border-top: 1px solid #eeecf5;\">\n              <p style=\"margin: 0 0 6px; color: #8888a0; font-size: 12px; text-align: center;\">Need help? <a href=\"mailto:support@paws.co\" style=\"color: #6A4C93; text-decoration: underline;\">Contact Support</a></p>\n              <p style=\"margin: 0; color: #b0b0c0; font-size: 11px; text-align: center;\">2026 PAWS by MyVet-IP. All rights reserved.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1eb1e20e-2096-4741-8f6b-bd264f194e0e",
      "name": "Build Email Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1712, 240]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailTo }}",
        "subject": "PAWS — Reset Your Password",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "7e903412-13fe-410a-a5a4-248ebab1a004",
      "name": "Send Password Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-1488, 240],
      "webhookId": "e0501f0d-86a2-416f-86e5-34901a101831",
      "credentials": {
        "gmailOAuth2": { "id": "zCF9XlyhnUlr911z", "name": "Gmail account" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Password reset email sent successfully.\" } }}",
        "options": { "responseCode": 200 }
      },
      "id": "5e659cd9-3878-4bf5-a311-d3f9c98564c4",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-1264, 144]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Failed to send password reset email. Please try again later.\" } }}",
        "options": { "responseCode": 500 }
      },
      "id": "0277d5ec-add8-4686-9408-4c86f1ab6140",
      "name": "Email Send Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-1264, 336]
    }
  ],
  "connections": {
    "Password Reset Request": {
      "main": [[{ "node": "Validate Required Fields", "type": "main", "index": 0 }]]
    },
    "Validate Required Fields": {
      "main": [
        [{ "node": "Check Email in Database", "type": "main", "index": 0 }],
        [{ "node": "Error Missing Fields", "type": "main", "index": 0 }]
      ]
    },
    "Check Email in Database": {
      "main": [[{ "node": "Email Exists?", "type": "main", "index": 0 }]]
    },
    "Email Exists?": {
      "main": [
        [],
        [{ "node": "Build Email Template", "type": "main", "index": 0 }]
      ]
    },
    "Build Email Template": {
      "main": [[{ "node": "Send Password Reset Email", "type": "main", "index": 0 }]]
    },
    "Send Password Reset Email": {
      "main": [
        [{ "node": "Return Success", "type": "main", "index": 0 }],
        [{ "node": "Email Send Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9979bf5572ab3042d62a4984e0cf0821877d6fd9029facfc64a6ea2c725c66cf"
  }
}
