n8n-password-recovery-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-recovery",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4685e36f-2ef5-4d13-9ce3-365f80909f3c",
      "name": "Password Reset Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 352],
      "webhookId": "4601e64a-0067-42a7-bb97-8944a2c2096f"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.email }}",
              "operator": { "type": "string", "operation": "exists" }
            },
            {
              "leftValue": "={{ $json.body.name }}",
              "operator": { "type": "string", "operation": "exists" }
            },
            {
              "leftValue": "={{ $json.body.resetLink }}",
              "operator": { "type": "string", "operation": "exists" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cdd6412b-4b48-4bac-a51f-6e847b64a61c",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [464, 368]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Missing required fields: email, name, and resetLink are required.\" } }}",
        "options": { "responseCode": 400 }
      },
      "id": "2aa7561c-c1ca-4130-9ffc-0aa36d67467d",
      "name": "Error Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [688, 464]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "value": "public", "mode": "list", "cachedResultName": "public" },
        "table": { "__rl": true, "value": "users", "mode": "list" },
        "options": { "queryBatching": "single" }
      },
      "id": "d10782d3-0347-46f2-825a-13907bc99b63",
      "name": "Check Email in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [688, 272],
      "credentials": {
        "postgres": { "id": "Jk1ZfEC8mWbBZDHh", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json }}",
              "operator": { "type": "object", "operation": "notEmpty" }
            }
          ]
        },
        "options": {}
      },
      "id": "29d31764-99e3-46d5-acb3-57cb67918cfe",
      "name": "Email Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [912, 272]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Email address not found in our system.\" } }}",
        "options": { "responseCode": 404 }
      },
      "id": "e910c7eb-4f6f-436f-961a-ec56fea573c2",
      "name": "Email Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1136, 368]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "emailTo",
              "value": "={{ $(\"Validate Required Fields\").item.json.body.email.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "resetUrl",
              "value": "={{ $(\"Validate Required Fields\").item.json.body.resetLink.trim() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "username",
              "value": "={{ $(\"Validate Required Fields\").item.json.body.name.trim() }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "htmlBody",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Password Reset — PAWS</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f5f7fa;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f5f7fa; padding: 40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 12px; box-shadow: 0 2px 12px rgba(0,0,0,0.06); overflow: hidden;\">\n          <!-- Header -->\n          <tr>\n            <td style=\"padding: 36px 40px 28px 40px; text-align: center; background: linear-gradient(135deg, #6A4C93 0%, #9b72cf 100%);\">\n              <h1 style=\"margin: 0; color: #ffffff; font-size: 32px; font-weight: 700; letter-spacing: 1px;\">🐾 PAWS</h1>\n              <p style=\"margin: 8px 0 0 0; color: rgba(255,255,255,0.85); font-size: 14px;\">Pet Health & Wellness Platform</p>\n            </td>\n          </tr>\n          <!-- Body -->\n          <tr>\n            <td style=\"padding: 40px;\">\n              <h2 style=\"margin: 0 0 20px 0; color: #1a202c; font-size: 22px; font-weight: 600;\">Password Reset Request</h2>\n              <p style=\"margin: 0 0 20px 0; color: #4a5568; font-size: 15px; line-height: 1.7;\">Hello <strong>{{ $json.username }}</strong>,</p>\n              <p style=\"margin: 0 0 20px 0; color: #4a5568; font-size: 15px; line-height: 1.7;\">We received a request to reset the password for your PAWS account. Click the button below to create a new password:</p>\n              <!-- CTA Button -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"{{ $json.resetUrl }}\" style=\"display: inline-block; padding: 14px 44px; background: linear-gradient(135deg, #6A4C93 0%, #9b72cf 100%); color: #ffffff; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600; box-shadow: 0 4px 12px rgba(106, 76, 147, 0.35);\">Reset Password</a>\n                  </td>\n                </tr>\n              </table>\n              <!-- Fallback Link -->\n              <p style=\"margin: 20px 0 6px 0; color: #718096; font-size: 13px; line-height: 1.6;\">If the button doesn't work, copy and paste this link into your browser:</p>\n              <p style=\"margin: 0 0 24px 0; padding: 12px; background-color: #f7fafc; border-radius: 6px; color: #4a5568; font-size: 12px; word-break: break-all; border-left: 3px solid #6A4C93;\">{{ $json.resetUrl }}</p>\n              <!-- Warning Box -->\n              <div style=\"margin: 28px 0; padding: 16px; background-color: #fff5f5; border-left: 4px solid #fc8181; border-radius: 6px;\">\n                <p style=\"margin: 0; color: #742a2a; font-size: 13px; line-height: 1.6;\"><strong>⚠️ Important:</strong> This link will expire in <strong>15 minutes</strong> for security reasons.</p>\n              </div>\n              <!-- Ignore Notice -->\n              <p style=\"margin: 20px 0 0 0; color: #a0aec0; font-size: 13px; line-height: 1.6;\">If you did not request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>\n            </td>\n          </tr>\n          <!-- Footer -->\n          <tr>\n            <td style=\"padding: 28px 40px; background-color: #f7fafc; border-top: 1px solid #e2e8f0;\">\n              <p style=\"margin: 0 0 8px 0; color: #718096; font-size: 12px; text-align: center;\">Need help? Contact us at <a href=\"mailto:support@paws.co\" style=\"color: #6A4C93; text-decoration: none;\">support@paws.co</a></p>\n              <p style=\"margin: 0; color: #a0aec0; font-size: 11px; text-align: center;\">&copy; 2026 PAWS by MyVet-IP. All rights reserved.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf47b6be-e9f2-4cbe-a99f-2f851acd35b2",
      "name": "Build Email Template",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1136, 176]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailTo }}",
        "subject": "PAWS — Reset Your Password",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "feefed47-081f-428c-810d-8ea94f9dc628",
      "name": "Send Password Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1360, 176],
      "credentials": {
        "gmailOAuth2": { "id": "zCF9XlyhnUlr911z", "name": "Gmail account" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Password reset email sent successfully.\" } }}",
        "options": { "responseCode": 200 }
      },
      "id": "363a9a33-e2b5-4b6c-acf3-3bc021a06555",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1584, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Failed to send password reset email. Please try again later.\" } }}",
        "options": { "responseCode": 500 }
      },
      "id": "f96a2382-85cf-43c2-be17-11c04b5fae5f",
      "name": "Email Send Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1584, 272]
    }
  ],
  "connections": {
    "Password Reset Request": {
      "main": [[{ "node": "Validate Required Fields", "type": "main", "index": 0 }]]
    },
    "Validate Required Fields": {
      "main": [
        [{ "node": "Check Email in Database", "type": "main", "index": 0 }],
        [{ "node": "Error Missing Fields", "type": "main", "index": 0 }]
      ]
    },
    "Check Email in Database": {
      "main": [[{ "node": "Email Exists?", "type": "main", "index": 0 }]]
    },
    "Email Exists?": {
      "main": [
        [{ "node": "Build Email Template", "type": "main", "index": 0 }],
        [{ "node": "Email Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Build Email Template": {
      "main": [[{ "node": "Send Password Reset Email", "type": "main", "index": 0 }]]
    },
    "Send Password Reset Email": {
      "main": [
        [{ "node": "Return Success", "type": "main", "index": 0 }],
        [{ "node": "Email Send Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9979bf5572ab3042d62a4984e0cf0821877d6fd9029facfc64a6ea2c725c66cf"
  }
}
